body{
	margin: 0;
	/* background-image: linear-gradient(to left, #000000, #0f0b0d, #171317, #1d1a20, #21212a, #242833, #252f3c, #263744, #26404c, #274a53, #2b5457, #325d5a); */
	background-image: linear-gradient(to left, #000000, #2c0b1c, #4d0539, #6a0061, #7c0794, #7c0794, #7c0794, #7c0794, #6a0061, #4d0539, #2c0b1c, #000000);
  }
  .navbar {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  align-items: center;
	  padding: 10px 40px;
	  color: white;
	  height: 7vh;
	background-color: transparent;
	}
	.navbar .logo {
	  font-size: 20px;
	  font-weight: bold;
	  text-shadow: 0px 0px 15px;
	  letter-spacing: 1px;
	}
	.navbar nav{
		width: 25%;
	}
	.navbar ul {
	  list-style: none;
	  display: flex;
	  justify-content: space-around;
	  gap: 20px;
	  width: 100%;
	}
	.navbar a {
	  color: #7533E6;
	  text-decoration: none;

	  padding: 1px 10px;
	}
	.container {
	  display: flex;
	  height: 93vh;
	  width: 100%;
	}
	.field {
	  flex: 3;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  margin-top: 10px;
	  /* background-image: linear-gradient(to left, #000000, #0f0b0d, #171317, #1d1a20, #21212a, #242833, #252f3c, #263744, #26404c, #274a53, #2b5457, #325d5a); */
	}
	.grid1{
	  display: grid;
	  grid-template-columns: repeat(7, 1fr);
	  grid-template-rows: repeat(8, 1fr);
	  gap: 5px;
	  width: 100%;
	  height: 100%;
	  position: relative;
	  background: url(../imgs/field.png) no-repeat;
	  background-size: cover;
	  box-shadow: rgba(255, 183, 0, 1) 0px 0px 8px 0px;
	  margin-left: 10px;
	  margin-bottom: 10px;
	}
	.player-card {
	  text-align: center;
	  border-radius: 5px;
	}
	.player-card .img-holder{
	  width: 100%;
	  height: 100%;
	  position: relative;
	}
	.player-card .img-holder .carte{
	  height: 100%;
	  width: 100%;
	}
	.player-card img {
	  height: 230%;
	  position: absolute;
	  bottom: 0px;
	  right: 5px;
	  filter: drop-shadow(0px 0px 15px rgba(117, 51, 230, 1.5));
	}
	.sidebar {
	  flex: 1;
	  padding: 20px;
	  display: flex;
	  flex-direction: column;
	  gap: 15px;
	  height: 100%;
	}
	button, select {
	  width: 100%;
	  padding: 10px;
	  border: 1px solid #ccc;
	  border-radius: 5px;
	}
	#playerList {
	  display: flex;
	  flex-direction: column;
	  gap: 10px;
	  align-items: center;
	  height: 100vh;
	  overflow-y: scroll;
	}
	/* ---------------------------------------------- */
	/* #addPlayerBtn{
	  background-color: aqua;
	  font-weight: 600;
	  transition: ease .3s ;
	  border: none;
	  color: #000;
	  font-size: 1.3rem;
	}
	#addPlayerBtn:hover{
	  background-color: #ffb700;
	  color: #000;
	  font-weight: 600;
	  scale: 1.05;
	} */
	#formationSelect{
	  background-color: #ffb700;
	  border: none;
	}
	/* ----------------------------------------------- */
	.fut-player-card {
	  display: flex;
	  flex-direction: column;
	  width: 300px;
	  background-image: url(https://selimdoyranli.com/cdn/fut-player-card/img/card_bg.png);
	  background-position: center center;
	  background-size: 100% 100%;
	  background-repeat: no-repeat;
	  padding: 3.8rem 0;
	  filter: drop-shadow(0px 0px 10px rgba(117, 51, 230, 1.5));
	}
	.fut-player-card .player-card-top {
	  position: relative;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  color: #e9cc74;
	  padding: 0 1.5rem;
	}
	.fut-player-card .player-card-top .player-master-info {
	  position: absolute;
	  line-height: 2.2rem;
	  font-weight: 300;
	  padding: 1.5rem 0;
	  text-transform: uppercase;
	}
	.fut-player-card .player-card-top .player-master-info .player-rating {
	  font-size: 2rem;
	}
	.fut-player-card .player-card-top .player-master-info .player-position {
	  font-size: 1.4rem;
	}
	.fut-player-card .player-card-top .player-master-info .player-nation {
	  display: block;
	  width: 2rem;
	  height: 25px;
	  margin: 0.3rem 0;
	}
	.fut-player-card .player-card-top .player-master-info .player-nation img {
	  width: 100%;
	  height: 100%;
	  -o-object-fit: contain;
	  object-fit: contain;
	}
	.fut-player-card .player-card-top .player-master-info .player-club {
	  display: block;
	  width: 2.1rem;
	  height: 40px;
	}
	.fut-player-card .player-card-top .player-master-info .player-club img {
	  width: 100%;
	  height: 100%;
	  -o-object-fit: contain;
	  object-fit: contain;
	}
	.fut-player-card .player-card-top .player-picture {
	  width: 200px;
	  height: 200px;
	  margin: 0 auto;
	  overflow: hidden;
	}
	.fut-player-card .player-card-top .player-picture img {
	  width: 100%;
	  height: 100%;
	  -o-object-fit: contain;
	  object-fit: contain;
	  position: relative;
	  right: -1.5rem;
	  bottom: 0;
	}
	.fut-player-card .player-card-top .player-picture .player-extra {
	  position: absolute;
	  right: 0;
	  bottom: -0.5rem;
	  overflow: hidden;
	  font-size: 1rem;
	  font-weight: 700;
	  text-transform: uppercase;
	  width: 100%;
	  height: 2rem;
	  padding: 0 1.5rem;
	  text-align: right;
	  background: none;
	}
	.fut-player-card .player-card-top .player-picture .player-extra span {
	  margin-left: 0.6rem;
	  text-shadow: 2px 2px #333;
	}
	.fut-player-card .player-card-bottom {
	  position: relative;
	}
	.fut-player-card .player-card-bottom .player-info {
	  display: block;
	  padding: 0.3rem 0;
	  color: #e9cc74;
	  width: 90%;
	  margin: 0 auto;
	  height: auto;
	  position: relative;
	  z-index: 2;
	}
	.fut-player-card .player-card-bottom .player-info .player-name {
	  width: 100%;
	  display: block;
	  text-align: center;
	  font-size: 1.6rem;
	  text-transform: uppercase;
	  border-bottom: 2px solid rgba(233, 204, 116, 0.1);
	  padding-bottom: 0.3rem;
	  overflow: hidden;
	}
	.fut-player-card .player-card-bottom .player-info .player-name span {
	  display: block;
	  text-shadow: 2px 2px #111;
	}
	.fut-player-card .player-card-bottom .player-info .player-features {
	  margin: 0.5rem auto;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-pack: center;
	  -ms-flex-pack: center;
	  justify-content: center;
	}
	.fut-player-card .player-card-bottom .player-info .player-features .player-features-col {
	  border-right: 2px solid rgba(233, 204, 116, 0.1);
	  padding: 0 2.3rem;
	}
	.fut-player-card .player-card-bottom .player-info .player-features .player-features-col span {
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  font-size: 1.2rem;
	  text-transform: uppercase;
	}
	.fut-player-card .player-card-bottom .player-info .player-features .player-features-col span .player-feature-value {
	  margin-right: 0.3rem;
	  font-weight: 700;
	}
	.fut-player-card .player-card-bottom .player-info .player-features .player-features-col span .player-feature-title {
	  font-weight: 300;
	}
	
	.fut-player-card .player-card-bottom .player-info .player-features .player-features-col:last-child {
	  border: 0;
	}
	/* -------------------------------------------------------------- */
	#country-select option {
	  padding: 5px 10px;
	  font-size: 16px;
  }
  .flag-option {
	  display: flex;
	  align-items: center;
  }
  .flag-option img {
	  width: 20px;
	  height: auto;
	  margin-right: 8px;
  }
  .flag-icon {
	width: 20px;
	height: auto;
	margin-right: 8px;
  }
  .select2-container--default .select2-selection--single {
	height: 60px;
	display: flex;
	align-items: center;
  }
  .select2-selection__rendered img {
	margin-right: 10px;
  }
  
  
  